## 파이썬 컬렉션
1. 컬렉션 타입 소개
2. 리스트

### 1. 컬렉션 타입 소개
+ Immutable Sequence 유형: Tuples, String
+ Mutable Sequence 유형: Lists, Sets

In [36]:
# Tuple은 (value 1, value 2, ..., value n)와 같은 형식으로 선언
coordinate = (3, 4)
print(coordinate[0])

3

In [40]:
# Tuple은 값 변경이 불가능하다(immutable).
coordinate[0] = 4

TypeError: 'tuple' object does not support item assignment

In [50]:
# String 선언 방식: "문자열 내용" 또는 '문자열 내용'
name = 'Hyun Ahn'
print(name)

Hyun Ahn

In [52]:
# String도 역시 immutable
name[5:] =
'Kim'

SyntaxError: invalid syntax (3058542461.py, line 2)

In [44]:
# List 선언 방식: [value 1, value 2, ..., value n]
my_info_lst = ["Hyun Ahn", 37, 
"Hanshin University"
, False]
print(my_info_lst)

['Hyun Ahn', 37, 'Hanshin University', False]

In [60]:
# List는 값 변경(추가, 삭제, 수정)이 가능하다.
my_info_lst[1] = 38
my_info_lst.append('Anyang-si')
my_info_lst.remove(False)

ValueError: list.remove(x): x not in list

In [62]:
# Set 선언 방식: set(List 객체)
my_info_set = set(my_info_lst)
my_info_set.add('Hyun Ahn')
print(my_info_set)
{'Hyun Ahn', 'Anyang-si', 'Hanshin University', 38}

{'Hyun Ahn', 'Hanshin University', 'Anyang-si', 38}

{38, 'Anyang-si', 'Hanshin University', 'Hyun Ahn'}

In [12]:
# Dictionary 선언 방식: {'key 1':'value 1', ..., 'key n': 'value n'}
hsu_dict={'name':'hanshin University',
         'establishment_year' : 1940, 
         'piblic|private': 'private'
         }
print(hsu_dict)

{'name': 'hanshin University', 'establishment_year': 1940, 'piblic|private': 'private'}

In [ ]:
# Dictionary 값 추가

### 2. 리스트

In [30]:
# 리스트 선언
primes = [2, 3, 5, 7, 11]
print(primes)
[2, 3, 5, 7, 11]
empty_list = []

[2, 3, 5, 7, 11]

In [32]:
list_of_lists=[['a',1],['b',2]]
list_of_lists

[['a', 1], ['b', 2]]

In [26]:
# 다양한 유형의 데이터 저장
mixed =['Jenny]', 1, 1.4 , True]
print(mixed)

['Jenny]', 1, 1.4, True]

In [66]:
# Zero-indexing
names = ['Roger', 'Rafael', 'Andy', 'Novak']
print(names[0]) # first data
print(names[1]) # second data
print(names[2]) 
print(names[3])

Roger
Rafael
Andy
Novak

In [68]:
# Negative indexing
names[-2]

'Andy'

In [78]:
# 리스트 슬라이싱
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']

building_slice=hsu_buildings[1:4]

In [80]:
building_slice[2] ='생활관'#바꾸는거임 소통관 <->생활관
building_slice

['장공관', '필헌관', '생활관']

In [92]:
# 다차원 리스트
restaurants = [['해우리', '한식', '해우라면'], ['화락', '일식', '화락초밥'], 
               ['찌개동아리', '한식', '제육전골'], ['몽상', '양식', '매운크림리조또']]
print(restaurants)

[['해우리', '한식', '해우라면'], ['화락', '일식', '화락초밥'], ['찌개동아리', '한식', '제육전골'], ['몽상', '양식', '매운크림리조또']]

In [94]:
restaurants[2][2] ='된짱찌개'

In [100]:
# 리스트 병합하기
items_one = ['cake', 'cookie', 'bread']
items_two = ['biscuit', 'tart']

In [108]:
scores = ['a','b','c','f']

for score in scores:
    print(score)

a
b
c
f

In [114]:
lst=[1,2,3,1,1,2,2,23,3,2,1,2,1]
lst.count(2)#2가 몇개인지 세는거임

5

In [96]:
# len()
knapsack = [2, 4, 3, 7, 10]
size = len(knapsack)
print(size)

5

In [2]:
# 리스트에서 제공하는 메소드들

# len()
knapsack = [2, 4, 3, 7, 10]
size = len(knapsack)
print(size)

# append()
orders = ['daisies', 'periwinkle']
orders.append('tulips')

print(orders)

# insert()
store_line = ['Karla', 'Maxium', 'Martin', 'Isabella']
store_line.insert(2, 'Vikor')

print(store_line)

# sort()

numbers = [4, 2, 1, 3]
numbers.sort()
print(numbers)

hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
hsu_buildings.sort()

print(hsu_buildings)

5
['daisies', 'periwinkle', 'tulips']
['Karla', 'Maxium', 'Vikor', 'Martin', 'Isabella']
[1, 2, 3, 4]
['늦봄관', '만우관', '소통관', '송암관', '장공관', '장준하통일관', '필헌관']

In [39]:
players =['손흥민','이강인','김민재']
players.append('황희찬')
players

['손흥민', '이강인', '김민재', '황희찬']

In [41]:
players.insert(2,'정우영')
players

['손흥민', '이강인', '정우영', '김민재', '황희찬']

In [43]:
players.pop(2)  #숫자를 안적으면 마지막 위치를 삭제
players

['손흥민', '이강인', '김민재', '황희찬']

In [45]:
players.remove('이강인')
players

['손흥민', '김민재', '황희찬']

In [49]:
numbers = [4, 2, 1, 3]
numbers.sort()
print(numbers)

[1, 2, 3, 4]

In [53]:
hsu_buildings = ['만우관'
, 
'장공관'
, 
'필헌관'
, 
'소통관'
, 
'송암관'
, 
'늦봄관'
, 
'장준하통일관']
hsu_buildings.sort()
print(hsu_buildings)

['늦봄관', '만우관', '소통관', '송암관', '장공관', '장준하통일관', '필헌관']

In [55]:
numbers = [4, 2, 1, 3]

In [62]:
sorted_numbers = sorted(numbers)
print(numbers)
print(sorted_numbers)

[4, 2, 1, 3]
[1, 2, 3, 4]